
.ui.cards {

padding-right: 45em;
padding-left: 45em;

}


.container{
  margin-top: 5em;
  display: flex;
  justify-content: center;
  margin-left: 10em;
  width: 40em;
  height: 15em;
  border: 1px solid blue
}
