
#container {
  background: linear-gradient(#de7bad, #6cc5bd);
  background-position: center;
  font-family: 'Montserrat', sans-serif;
}

.docHeader {
  background-color: white;
  margin-left:0em;
  width: 100vw;
  padding: 2em;
  color: #2d75c6;
  text-align: center
}

.headshot {
  width: 30%;
  height: 34em;
  margin: 5em;
}

.row {
  display: flex;
  flex-direction: row;
}

.text {
  padding-top: 5em;
  padding-right: 5em;
}

li {
  font-size: .8em;
}


.stars {
  height: 3em;
  width: 11em;
}

#main {
  width: 650px;
  float: right;
  margin-right: 30px;
  line-height: 20px;

}

.headline > h1 {
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 1em;
}

.docSubhead > p  {
  color: #2d75c6;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 1.25em;
}

/* img {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
} */
