
.ui.cards {
margin-bottom: 10em;
}

.container {
  display: flex;
  height: 25em;
  width: 40em;
  border: none;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 2em;
}

.stars2 {
  height: 1em;
  width: 5em;
}
