
#container {
  background: linear-gradient(#de7bad, #6cc5bd);
  width: 100vw;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.headshot {
  width: 25em;
  margin: 5em;
}

.docHeader {
  /* margin: 1em; */
  background-color: white;
  width: 100vw;
  margin: 0em;
  padding: 2em;
  color: #2d75c6;
  text-align: center
}

.headline > h1 {
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 1em;
}

.docSubhead > p  {
  color: #2d75c6;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 1.25em;
}

h2 {
  color: #445566;
  padding: 0px;
}

h3 {
  color: #445566;
  margin: 0px;
}


#main {
  width: 650px;
  float: right;
  margin-right: 30px;
  line-height: 20px;
}

footer {
  height: 50px;
  background-color: lightgrey;
  clear: both;
}

footer ul {
  list-style: none;
  text-align: center;
  padding-top: 15px;
}

footer li {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

footer li a {
  color: black;
}
