
#container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#de7bad, #6cc5bd);
  background-position: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* font-weight: 800; */
  font-family: 'Montserrat', sans-serif;
}

.docHeader {
  background-color: white;
  margin-left:0em;
  width: 100vw;
  padding: 2em;
  color: #2d75c6;
  text-align: center
}
.headline > h1 {
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 1em;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

.docSubhead > p  {
  color: #2d75c6;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 1.25em;
}

.row {
  display: flex;
  flex-direction: row;
  align-self: auto;
  justify-content: center;
}

.headshot {
  width: 28%vw;
  height: 33%vh;
  margin: 5em;
}

.text {
  padding-top: 10em;
  padding-right: 5em;
  font-family: 'Montserrat', sans-serif;
}

.stars {
  height: 2em;
  width: 12em;
}

li {
  font-size: .8em;
}

