.title {
  padding: 2em;
}

.directory {
  background-color: #30d3c3;
  display: flex;
  padding: 50px 25px;
}
.img {
  padding: 10em;
}

/* listbox {

  width:10em;
  height: 10em;
} */

.map {
  width: 45%;
  height: 45%;
  margin-right: 2em;
}

