
.hero-inner {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url(../Images/Homepage-Background-3.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-weight: 800;
}

.hero-inner-text {
    margin-top: 25em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-inner-text  h1 {
    font-size: 6em;
    color: #F7f7ff;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 2px #ef3994;

}

.hero-inner-text  p {
    font-size: 3em;
    font-weight: bold;
    color: #F7f7ff;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 3px 3px #070600;

}

.hero-inner .logo {
    position: absolute;
    left:1em;
    top:5em;
    width: 11em;
    margin-left: 2em;
    margin-top: 2em;
}
